* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;

}
.title{
    background-color: #ff253a;
    width: 300px;
    height: 200px;
    margin: auto;
}
.title h1 {
    font-size: 20px;
    color: white;
    margin: auto;

}
.title h2{
    font-size: 19px;
    color: green;
    margin: auto;
}
.title h3{
    font-size: 18px;
    color: blue;
    margin: auto;
}
.title h4{
    font-size: 17px;
    color: violet;
    margin: auto;
}
.title h5{
    font-size: 16px;
    color: yellow;
    margin: auto;
}